<section role="main">
  <div class="container">
    <h1 class="interior">Pricing</h1>
    <a href="/demo" class="blue pricing_link">View demo</a>

    <div class="pricing_wrapper">
      <table>
        <tr>
          <th></th>
          <th>Bronze</th>
          <th>Silver</th>
          <th>Gold</th>
        </tr>

        <tr>
          <td>Track customer info for # customers</td>
          <td class="second">< 100</td>
          <td class="second">< 500</td>
          <td class="second">Unlimited</td>
        </tr>

        <tr>
          <td>Track job history</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
        </tr>

        <tr>
          <td>Track daily schedule</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
        </tr>

        <tr>
          <td>Access customer, job, schedule information on mobile devices</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
          <td class="check">Yes</td>
        </tr>

        <tr>
          <td>Schedule follow-up thank-yous, surveys, and reminders</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Collect payment, send invoice</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Display map/routing for daily jobs</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Auto display customer info on incoming call*</td>
          <td class="no_check">No</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Integrate with QuickBooks</td>
          <td class="no_check">No</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Customer targeting based on scheduled location</td>
          <td class="no_check">No</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Integrate with social media applications</td>
          <td class="no_check">No</td>
          <td class="no_check">No</td>
          <td class="check">No</td>
        </tr>

        <tr>
          <td>Schedule physical mailings*</td>
          <td class="no_check">No</td>
          <td class="no_check">No</td>
          <td class="check ">No</td>
        </tr>

        <tr class="total">
          <td></td>
          <td class="total"><strong>Free!<br />&nbsp;</strong<br /><a class="blue">Sign Up</a></td>
          <td class="total"><strong>Free <span>for 30 days</span><br />$47/mo</strong><br /><a class="blue">Sign Up</a></td>
          <td class="total"><strong>Free <span>for 30 days</span><br />$97/mo</strong><br /><a class="blue">Sign Up</a></td>
        </tr>
      </table>
    </div>
  </div>
</section>

