<section role="main">
  <div class="container">
    <h1 class="interior">Demo</h1>
    <a href="/pricing" class="blue pricing_link">View Pricing</a>
    <p>To view the demo<sup>BETA</sup> system, click the button below and use the following credentials to login:</p>
    <ul>
      <li>User: demo@cleanersdashboard.com</li>
      <li>Password: superclean</li>
      <li><a href="/admin">Click For Demo Login</a></li>
    </ul>
  </div>
</section>

